.addCard:hover {
    cursor: pointer;
    background-color: var(--navigation-panel);
}

.addCard {
    background-color: var(--navigation-options)
}

.cardCreatorMenu {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    margin-top: 50px;
    background-color: var(--navigation-options)
}

.cardCreatorMenu > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addStage {
    display: flex;
    flex-direction: row;
}

.addStageInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}