.addCard:hover {
    cursor: pointer;
    background-color: var(--navigation-panel);
}

.addCard {
    background-color: var(--navigation-options)
}

.cardCreatorMenu {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 50%;
    width: 35vw;
    height: 35vw;
    background-color: var(--navigation-panel)
}