.alignElemts {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

.alignNav {
  width: 100vw;
  height: 100px;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center
}
@media(width < 450px) {
  .alignElemts {
    justify-content: end;
  }
}

@media(width >= 950px) {
  .alignElemts {
      align-items: center;
  }
}